@model FavouritesCollectionItem

<div class="card">
    <img class="card-img-top" src="@Model.Shoe.ImageThumbnailUrl" alt="" />
    <div class="card-body">
        <h3 class="card-subtitle">@Model.Shoe.Price.ToString("c")</h3>
        <h3 class="card-title">
            <a asp-controller="Shoe"
               asp-action="Details"
               asp-route-shoeId="@Model.Shoe.ShoeId">@Model.Shoe.Name</a>
        </h3>
        <p class="card-text">@Model.Shoe.ShortDescription</p>
    </div>
    <div class="d-flex" id="favouriteCardButtons">
        <div>
            <p class="btn">
                <a class="btn btn-primary"
                   asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-shoeId="@Model.Shoe.ShoeId">Add to cart</a>
            </p>
        </div>
        <div>
            <p class="btn">
                <a class="btn btn-primary"
                   asp-controller="Shoe"
                   asp-action="RemoveFromFavourite"
                   asp-route-shoeId="@Model.ShoeId">Remove from favourites</a>
            </p>
        </div>
    </div>
    <div>
        <form asp-action="AddComment" asp-route-favouriteCollectionItemId="@Model.FavouritesCollectionItemId"
              method="post"
              role="form"
              class="container-fluid">
            <textarea asp-for="@Model.Comment" class="form-control"></textarea>
            <input type="submit" value="Save comment" class="btn btn-success" />
        </form>
    </div>





</div>