@model ShoppingCartViewModel

<h2>Your shopping cart</h2>
<br />

@if (Model.tempMessage != null)
{
    <div class="alert alert-info text-center">@Model.tempMessage</div>
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">Selected amount</th>
            <th class="text-left">Shoe</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-center text-light">@line.Amount</td>
                <td class="text-left text-light">@line.Shoe.Name</td>
                <td class="text-right text-light">@line.Shoe.Price.ToString("c")</td>
                <td class="text-right text-light">
                    @((line.Amount * line.Shoe.Price).ToString("c"))
                </td>
                <td class="btn">
                    <a class="btn btn-outline-secondary"
                       asp-controller="ShoppingCart"
                       asp-action="RemoveFromShoppingCart"
                       asp-route-shoeId="@line.Shoe.ShoeId">Remove from cart</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right font-weight-bold">Total:</td>
            <td class="text-right font-weight-bold">
                @Model.ShoppingCartTotal.ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check out now</a>
</div>

